body,
html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    background: #222222;
    cursor: url('/assets/images/cursorcircle.png'), pointer;
}

.cursor {
    display: block;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    color: #fff;
    position: absolute;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 2px solid #A9CEC2;
    transition: all 0.4s ease-out;
    animation: moveCursor1 5s infinite alternate;
}



.expand {
    background: transparent;
    animation: moveCursor2 0.5s forwards;
    border: 1px solid rgb(62, 134, 62);
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.cursor_change {
    height: 50px;
    width: 300px;
    border-radius: 0;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border: none;
}


* {
    margin: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    display: none;
}

.show_text {
    opacity: 1;
}



@media only screen and (min-width: 1224px) {

    /*-------------MAIN PAGE-------------*/

    .for_small_screens {
        display: none;
    }

    body {
        background: #222222;
    }


    .index_flow_wrap {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    /*-----TOP CONTENTS-----*/

    .top_contents {
        position: absolute;
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .top_contents_index {
        position: relative;
        width: 100%;
        height: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;

    }

    .file_count {
        width: 100%;
        position: absolute;
        top: 20px;
        color: #222222;
        font-weight: 600;
        margin-left: 20px;
        font-weight: 200;
        opacity: 0;


    }

    .local_date_time {
        position: absolute;
        display: flex;
        top: 20px;
        right: 20px;
        font-size: 16px;

        opacity: 0;
    }

    #the_time {
        font-weight: 600;
    }

    .main_title,
    .main_title_white {
        position: absolute;
        color: #222222;
        font-size: 22px;
        font-weight: 300;
        cursor: pointer;
        opacity: 0;

    }

    .main_title_white {
        color: #fff;
        opacity: 1;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----MAIN TABS SECTION-----*/

    .tab_contents {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-evenly;

    }

    .tabs {
        position: relative;
        height: 200px;
        width: 270px;
        margin: auto;
        cursor: pointer;
        opacity: 0.8;
        transition: 0.4s;
        border-top: 1px solid white;
        border-bottom: 6px solid rgba(255, 255, 255, 0.219);

        opacity: 0;



    }

    .top_tab_line {
        width: 10%;
        border: 1px solid white;
        transition: 0.4s;

    }

    .tab_number {
        color: #fff;
        font-size: 3.5em;

    }

    .tab_title {
        margin: 10px 0px;
        color: #fff;
        font-weight: 500;
        transition: 0.4s;
    }

    .tab_description {
        color: #fff;
        font-weight: 200;
        opacity: 0.7;
    }

    /*-----//  MAIN TABS SECTION-----*/
    /*-------------HISTORY PAGE-------------*/


    .large_file_popup {
        position: absolute;
        width: 100%;
        color: red;
        text-align: center;
        top: 12%;
        font-weight: 200;
        font-size: 20px;

        opacity: 0;

    }



    .history_contents,
    .world_history_wrap {
        width: 90%;
        height: 85%;
        margin: auto;
        display: flex;
        flex-flow: column;


    }

    .sort_buttons {
        position: absolute;
        width: 100%;
        display: flex;
        bottom: 0;
        justify-content: center;
    }

    .sort_lists_button {
        width: 150px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        background: #fff;
        font-weight: 600;
        border: none;
        cursor: pointer;
        z-index: 2;
    }

    .world_history_wrap {
        opacity: 0;

    }

    .world_history_item {
        cursor: pointer;
        transition: 0.4s;
        display: flex;
        font-size: 18px;
        text-transform: capitalize;


    }

    .history_contents {
        opacity: 0.7;
        transition: 1s;
    }

    .history_heading {
        color: #000;
        font-size: 28px;
        font-weight: 300;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        background: #A9CEC2;
    }

    .history_titles {
        margin-top: 20px;
        color: #fff;
    }

    .smaller_text {
        color: #fff;
        width: 100%;
        text-align: center;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 5px;
    }

    .history_list {
        color: #fff;
        padding: 0;
        font-size: 22px;
        font-weight: 300;
        width: 100%;
        height: 100%;
        text-align: left;
        overflow: auto;
    }

    .in_list_title {
        margin: 20px 0px;
        font-weight: bold;
    }

    .audio_icon,
    .video_icon {
        height: 20px;
    }

    /*-------------//  HISTORY PAGE-------------*/
}

@media only screen and (max-width: 1353px) {

    .tab_contents {
        flex-flow: row;
        height: 50%;
        border: 1px solid red;
    }

    .tab_description {
        display: none;
    }

    .tabs {
        height: 140px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

}

@media only screen and (max-width: 1233px) {
    /*-------------MAIN PAGE-------------*/

    .for_small_screens {
        display: none;
    }

    body {
        background: #222222;
    }

    .index_flow_wrap {
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    /*-----TOP CONTENTS-----*/

    .top_contents {
        position: absolute;
        width: 100%;
        height: 5%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .top_contents_index {
        position: relative;
        width: 100%;
        height: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f1;

    }

    .file_count {
        width: 100%;
        position: absolute;
        top: 20px;
        color: #222222;
        font-weight: 600;
        margin-left: 20px;
        font-weight: 200;
        opacity: 0;


    }

    .local_date_time {
        position: absolute;
        display: flex;
        top: 20px;
        right: 20px;
        font-size: 16px;

        opacity: 0;
    }

    #the_time {
        font-weight: 600;
    }

    .main_title,
    .main_title_white {
        position: absolute;
        color: #222222;
        font-size: 22px;
        font-weight: 300;
        cursor: pointer;
        opacity: 0;

    }

    .main_title_white {
        color: #fff;
        opacity: 1;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----MAIN TABS SECTION-----*/

    .tab_contents {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-evenly;

    }

    .tabs {
        position: relative;
        height: 200px;
        width: 270px;
        margin: auto;
        cursor: pointer;
        opacity: 0.8;
        transition: 0.4s;
        border-top: 1px solid white;
        border-bottom: 6px solid rgba(255, 255, 255, 0.219);

        opacity: 0;



    }

    .top_tab_line {
        width: 10%;
        border: 1px solid white;
        transition: 0.4s;

    }

    .tab_number {
        color: #fff;
        font-size: 3.5em;

    }

    .tab_title {
        margin: 10px 0px;
        color: #fff;
        font-weight: 500;
        transition: 0.4s;
    }

    .tab_description {
        color: #fff;
        font-weight: 200;
        opacity: 0.7;
    }

    /*-----//  MAIN TABS SECTION-----*/
    /*-------------HISTORY PAGE-------------*/


    .large_file_popup {
        position: absolute;
        width: 100%;
        color: red;
        text-align: center;
        top: 12%;
        font-weight: 200;
        font-size: 20px;

        opacity: 0;

    }



    .history_contents,
    .world_history_wrap {
        width: 90%;
        height: 85%;
        margin: auto;
        display: flex;
        flex-flow: column;


    }

    .sort_buttons {
        position: absolute;
        width: 100%;
        display: flex;
        bottom: 0;
        justify-content: center;
    }

    .sort_lists_button {
        width: 150px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        background: #fff;
        font-weight: 600;
        border: none;
        cursor: pointer;
        z-index: 2;
    }

    .world_history_wrap {
        opacity: 0;

    }

    .world_history_item {
        cursor: pointer;
        transition: 0.4s;
        display: flex;
        font-size: 18px;
        text-transform: capitalize;


    }

    .history_contents {
        opacity: 0.7;
        transition: 1s;
    }

    .history_heading {
        color: #000;
        font-size: 28px;
        font-weight: 300;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        background: #A9CEC2;
    }

    .history_titles {
        margin-top: 20px;
        color: #fff;
    }

    .smaller_text {
        color: #fff;
        width: 100%;
        text-align: center;
        font-weight: 200;
        opacity: 0.5;
        margin-top: 5px;
    }

    .history_list {
        color: #fff;
        padding: 0;
        font-size: 22px;
        font-weight: 300;
        width: 100%;
        height: 100%;
        text-align: left;
        overflow: auto;
    }

    .in_list_title {
        margin: 20px 0px;
        font-weight: bold;
    }

    .audio_icon,
    .video_icon {
        height: 20px;
    }

    /*-------------//  HISTORY PAGE-------------*/
}

@media only screen and (max-width: 1177px) {

    .tabs {
        border: none;
    }

}

@media only screen and (max-width: 620px) {
    .tab_contents {
        height: 100%;
        flex-flow: column;
    }

    .top_contents_index {
        height: 5% !important;
    }

    .main_title {
        font-weight: 600;
    }
}





/*---Hovers and what not...---*/

.tabs:hover>.top_tab_line {
    width: 15%;
}


.tabs:hover {
    opacity: 1;
    border-bottom: 6px solid #A9CEC2;

}

.history_contents:hover {
    opacity: 1;
}

.world_history_item:hover {
    transform: translateX(5px);
}

.world_history_item:active {
    transform: translateX(0px);
}

.tabs:active>.top_tab_line {
    width: 10%;
}

.tabs:active {
    opacity: 0.8;
}

.sort_lists_button:hover {
    opacity: 1;
}

.sort_lists_button:active {
    opacity: 0.3;
}

.snap_to_people:hover,
.snap_to_religion:hover,
.snap_to_world:hover {
    opacity: 0.8;
}

